<div class="footer">
  <hr>
  <div class="footer-inner">
    <div class="footer-content">
     	<p style="text-align:center;">Copyright © 2017-<%= Time.current.year %>, All Rights Reserved. 
        <span class="download-app">
          
        </span>
        <span class="download-app">
          
        </span>
        </p>
    </div>
  </div>
</div>