/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

.turbolinks-progress-bar {
  height: 2px;
  background-color: #71BF44;
}

.navbar-default .navbar-brand {
  color: #fff !important;
  &:hover,
  &:active {
    color: #f0f0f0;
  }
}

.simditor {
  border: 1px solid #ccc;

  .simditor-popover {
    padding: 20px;
    line-height: 100%;
    .settings-field { margin-bottom: 15px; }
    input { padding: 2px 4px; }
  }

  .simditor-toolbar > ul > li > .toolbar-item {
    font-size: 14px;
    color: #222;
  }
}

.navbar-admin{
  background-color: #738793;
}

.content-row {
  margin-left:5px;
  margin-top: 15px;
}

.center-div {
  margin-left:auto;
  margin-right:auto;
  width: 550px;
}

.main-container {
  padding: 0;
}

.popover{
  max-width: 400px !important;
}
.popover-content{
  padding: 0px !important;
}
.file-content{
  height: 100px;
}
.file-content-left{
  width: 30%;
  float: left;
  padding-top: 30px;
}
.file-content-right{
  width: 70%;
  float:right;
}
.file-bottom ul{
  margin: 0px;
}
.file-bottom ul{
  border-top: 1px solid #DFE3E8;
}
.file-bottom ul li{
  float: left;
  list-style: none;
  text-align: center;
}
.file-bottom ul li:first-child{
  width: 199px;
  border-right: 1px solid #DFE3E8;
}
.file-bottom ul li:last-child{
  width: 199px;
}
.file-bottom ul li a{
  line-height: 30px;
  height: 30px;
}
.attachment-destroy, #library{
  display: none;
}
.order-show-title {
  margin-bottom: 20px;
}
.orders-title-info{
  line-height: 20px;
}
.orders-title-list{
  li{
    line-height: 25px;

  }
}
.bold {
  font-size: 1.5em;
  font-weight: bold;
}

.tag-box {
  padding: 0px;
  background: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tag-box-v3{
  border: solid 1px #eee;
}

strong{
  font-weight: 700 !important;
}
body.admin-page{
  background-color: #fff;
}
.select-400, .input-400{
  width: 400px;
}
.select-200, .input-200{
  width: 200px;
}
.select-300, .input-300{
  width: 300px;
}
.select-120, .input-120{
  width: 150px;
}
.input-80{
  width: 80px;
}
.input-260{
  width: 260px;
}
.width-700{
  width: 700px !important;
  max-width: 700px !important;
}
.ace-width-700.open{
  width: 700px !important;
  max-width: 700px !important;
}
#comment .fields .add_nested_fields{
  display: none;
}
#comment .fields:first-child{
  .add_nested_fields{
    display: inline-block;
  }
  .remove_nested_fields{
    display: none;
  }
}
// #comment:first-child .add_nested_fields{
//   display: inline-block;
// }
.events-page .form-group{
  margin-top: 10px;
  .form-control{
    max-width: 200px;
  }
}

.search-list{
  position: absolute;
  background-color: #fff;
  list-style-type: none;
  display: none;
  min-width: 400px;
  margin: 0px;
  border: 1px solid #e3e3e3;
  li{
    line-height: 30px;
    font-size: 16px;
    a{
      display: block;
      padding: 0px 10px;
      &:hover{
        text-decoration: none;
        background-color: #E0E6EF !important;
        padding: 0px 8px;
        font-weight: bold;
      }
    }
  }
}

.kpi-user{
  padding: 10px 15px;
  border: 1px solid #DDD;
  margin-bottom: 15px;
  height: 174px;
}
.kpi-user i{
  margin-right: 5px;
}
.kpi-user p{
  margin-bottom: 0px;
  font-size: 12px;
  color: #585858;
  line-height: 23px;
}
.kpi-user p span{
  margin-right: 5px;
}
.red_color{
  color: red;
}


#bid-item-form {
  width: 70%;
  margin-top: 5%;
}
.size12{
  font-size: 12px;
}
.size14{
  font-size: 12px;
}

.font-line-through{
  text-decoration: line-through;
}

.nav-user-photo{
  margin: -4px 8px 0 0;
  border-radius: 100%;
  border: 2px solid #e3e3e3;
  max-width: 40px;
}

.t-margin-10{
  margin-top: 10px;
}

.kpi-view{
  background: #e3e3e3;
  // width: 200px;
  margin-right: 20px;
  display: block;
  text-align: center;
  cursor: pointer;
  color: #000;
  line-height: 30px;
  height: 30px;
  text-decoration: none;
  &:hover{
    color: red;
    text-decoration: none;
  }
}

table.google-visualization-orgchart-table{
  border-collapse: inherit;
}
.sbrain_logo{
  display: inline-block!important;
  width: 30px;
}
.download_app{
  width: 100px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 3px 6px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  a {
    color: #fff;
  }
}

.bd-loading-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-loading-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}

.break-the-words {
  word-break: break-all;
}

.page-header{
  margin-top: 0px;
}

.form-input-row{
  margin: 20px 0px;
}

.order-title-bg {
  color: #40a9ff;
  background: #f8f8f8;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
}

.summary-info{
  margin-right: 20px;
  span{
    margin-left: 10px;
  }
}
.order-panel-heading-tb-2{
  padding: 10px 0px;
}

.input-large{
  width: 100%;
}

.sales_order_mounting, .sales_order_electrical{
  span.radio{
    padding-right: 10px;
  }
}

.label-xlg-fixed{
  font-size: 14px;
  margin-right: 10px;
}
.pd-l-10{
  padding-left: 10px;
}
.tran-id{
  font-size: 12px;
}

.page-header {
  h4{
    display: inline-block;
  }
}
.filter-form-search{
  padding: 10px 15px;
}
.filter-search{
  padding: 5px 10px;
  .filter-label{
    width: 100px;
  }
  label{
    font-weight: normal;
    margin: 0px 10px 0px 5px;
    &:first-child{
      font-weight: bold;
      margin: 0px 10px 0px 0px;
    }
  }
}
.filter-button{
  margin-left: 125px;
}
.input-250{
  width: 250px !important;
}
.widget-toolbar-left{
  float: none;
}
.error{
  color: #d16e6c;
  font-weight: normal;
}

.saleJobs-detail{
  list-style: none;
}

.job-detail-content{
  min-height: 300px;
}

.sale-job-table tbody tr{
  height: 66px;
  th,td{
    line-height: 49px;
  }
}

.inline-with-margin5{
  display: inline;
  margin-right: 5px;
}

.task-input{
  margin-left: 20px;
}

#sale_task_tran_id-error,#sale_task_quote_number-error,#sale_task_branch-error, #sale_task_location-error{
  padding-left: 20px;
}

label.error {
  color: #FF0000;
}

.display-none{
  display: none;
}

.display-inline{
  display: inline;
}

.display-block{
  display: block;
}

.sales_order_address_id{
  .select2{
    display: block;
    width: 100% !important
  }
}
.word-break-all{
  word-break: break-all;
}

.additionalPointRevoke{
  margin-left: 52%;
}

#groupNotifyingConfirm{
  height: 400px;
  width: 500px;
  display: none;
}

.modal-480px{
  width: 480px;
}

.height-110{
  height: 110px;
}

#user_id_groups{
  border: 1px solid #dcdcdc;
  padding: 6px;
  width: 460px;
}

.name-tag{
  display: inline-block;
}
.name-tag>span:first-child{
  height: 24px;
  border: 1px solid black;
  border-radius: 5px;
  border-color: lightgray;
}

.user-cancel, .item-cancel{
  padding-left: 0px;
  color: #d2d2d2;
}

#groupNotifiedModal>.modal-content{
  width: 470px;
  left: 24%;
}

.notifyError{
  color: red;
  display: none;
}

.groupNotifyForm{
  width: 500px;
  left: 24%;
}

.lightgray{
  color: lightgray !important;
}

.font-size-18{
  font-size: 18px;
}

.statusLockWidth{
  width: 40px;
}

.text-align-center{
  text-align: center;
}

.modal-400px{
  width: 400px;
}

.left-26{
  left: 26px;
}

.tag-of-name-span{
  padding: 1px;
}

.user_error_msg{
  margin-left: 26%;
  margin-top: -1%;
}

.badge_for_pdf{
  color: #fff !important;
  font-size: 14px;
  background-color: #777777 !important;
}

.kpi_week_select{
  width: 230px;
}

.inventoryPositionForm{
  min-height: 180px;
}

.form-margin-bottom{
  margin-bottom: 6px;
}

.select-150{
  width: 150px;
}

.inventoryItemPositionForm{
  width: 500px;
}
#kpi_additional_point_reason{
  height: 212px;
  width: 300px !important;
}
.inventory-item-tb1{
  padding-right: 0px !important;
  margin-right: -1px;
  table{
    border-right: 0 !important;
    th{
      border-right: 0 !important;
    }
    td{
      border-right: 0 !important;
      height: 31.1px;
    }
  }
}

.ui-sortable-helper {
  display: table;
}

.table-draggable-tr>td{
  height: 31px !important;
}
.reward-notification-div{
  padding-top: 7px;
}

.font-weight-normal{
  font-weight: normal !important;
}

.nowrap{
  white-space: nowrap;
}

.inventory_item_list{
  min-width: 874px;
}

.live_event_url{
  width: 92%;
}

.input-cover:after{
  content: '';
  height: 80%;
  width: 100%;
  z-index: 99;
  position: absolute;
  background-color: #eeeeee;
  top: 77px;
  left: 0;
  cursor: not-allowed;
}

.live_event_poster_detail{
  width: 25%;
}

.product-list-img{
  height: 38px;
}

#newPanelSize, #editPanelSize{
  .modal-content{
    width: 280px;
    margin-left: 30%;
  }
}

.display_sequence_filter{
  margin-top: 12px;
  margin-bottom: 12px;
}

.live_event_poster_box{
  margin-top: 6px;
  img{
    max-width: 100%;
  }
}

#live_event_poster_error{
  display: none;
  color: red;
  font-weight: normal;
}

.display_sequence_filter{
  margin-top: 12px;
  margin-bottom: 12px;
}

.panel_size_submit{
  width: 70px;
}
.margin-auto{
  margin: auto;
}

#approveForm .form-group{
  width: 360px;
}

.display-block{
  display: block;
}

.approveForm{
  width: 526px;
}

.modal-content-ignore{
  border: none;
}

.modal-content{
  border: none;
}

.modal-footer{
  border-radius: 6px;
}

.adminProductDetail{
  height: 200px;
}

#brandLogo{
  display: none;
  margin-bottom: 15px;
}

.MB30{
  margin-bottom: 30px;
}

.MB50{
  margin-bottom: 50px;
}

.break-all{
  word-break: break-all;
}

.MT8{
  margin-top: 8px;
}

.MT30{
  margin-top: 30px;
}

#c1_year, #c2_year, #c3_year, #c4_year{
  display: inline;
}

#sales_order_report_form{
  #chart-1,#chart-2{
    border: 1px solid gainsboro;
    padding: 6px;
    padding-bottom: 28px;
  }
  
  #chart-1,#chart-2{
    margin-bottom: 6px;
  }
}

.border-grey{
  border: 1px solid gainsboro;
  padding: 6px;
  padding-bottom: 28px;
  padding-left: 15px;
}

.without-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.without-padding-chart2{
  padding-right: 0 !important;
  padding-left: 15px;
}

.inline{
  display: inline;
}

.packingActionList{
  width: 80px;
  text-align: center;
}

.black{
  font-weight: bold;
  color: black;
}

#bid_item_expire_time-error{
  display: block;
}

.form-padding{
  padding: 6px 6px;
}

.bidProjectTitle{
  width: 80%;
}

#marketReportBranch{
  display: none;
}

.bidProjectTitleHint{
  margin-left: 96px;
}

#itemIdClearance{
  margin-top: 10px;
  border: 1px solid #dcdcdc;
  width: 340px;
  height: 80px;
  margin-bottom: 5px;
  overflow-y: scroll;
  .name-tag{
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 4px;
  }
}

#relatedAttachmentBox{
  margin-top: 10px;
  border: 1px solid #dcdcdc;
  width: 340px;
  height: 80px;
  margin-bottom: 5px;
  overflow-y: scroll;
  .name-tag{
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 4px;
  }
}

.kpiNote{
  width: 320px;
  font-size: 11px;
}

.selectClearanceDiv, .selectAttachmentDiv{
  .select2{
    width: 340px;
  }
}
#select2-clearance_item_id-container{
  width: 340px;
}

.display-inline{
  display: inline;
}

.ezdz-dropzone{
  position: relative;
  border-radius: 20px;
  font: bold 24px arial;
  text-align: center;
  width: 250px;
  height: 200px;
  line-height: 200px;
  border: 10px double lightgray;
  color: lightgray;
  overflow: hidden;
}

.new-attachment-file{
  padding-top: 7px;
}

#similarItems, #discoverItems{
  margin-top: 10px;
  border: 1px solid #dcdcdc;
  width: 440px;
  height: 70px;
  margin-bottom: 5px;
  overflow-y: scroll;
  .name-tag{
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 4px;
  }
}

.modal-content-bidEmail{
  width: 500px;
}

#select2-similar_item_ids-container{
  width: 340px;
}

#select2-discover_item_ids-container{
  width: 336px;
}

.modal-content-bidEmail{
  .select2{
    width: 340px !important;
  }
}

.nbsp10{
  margin-left: 10px;
}

#select_type{
  border: none;
}

.btn-without-focus{
  border-width: 1px;
  color: #6688a6 !important;
  text-decoration: none !important;
  background-color: #FFF !important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #8aafce;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover{
    background-color: #eaf2f8 !important;
    border-color: #8aafce;
    color: #537c9f !important;
  }
}

#campaign_poster{
  border: none !important;
}

.campaign_form{
  .cke_contents{
    min-height: 380px;
  }
}

.report-border-companies{
  border: 1px solid #CCC;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.reportFilterLabel{
  font-weight: initial;
  margin-right: 6px;
}

.inline-block{
  display: inline-block;
}

#marketReportLocation{
  display: none;
  margin-right: 6px;
}

#marketSalesRep{
  display: none;
}

#nlrecipient_user_tag_list_text{
  height: auto !important;
}

.hidden{
  display: none;
}

.without-decoration, .without-decoration:hover{
  text-decoration: none !important;
}

.modal-400{
  min-width: 400px !important;
  max-width: 500px !important;
}

.modal-300{
  min-width: 300px !important;
  max-width: 400px !important;
}

.btn-70px{
  width: 70px !important;
}

.gray{
  color: gray;
}

.paymentGroup{
  padding-left: 40px;
}

.input-50{
  width: 50px;
}

.input-500{
  width: 500px;
}

input.without-arrow::-webkit-outer-spin-button, input.without-arrow::-webkit-inner-spin-button{
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"].without-arrow {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

#paymentMethodTxtIndex,#paymentMethodTxtEdit{
  display: none;
}

.red{
  color: #FF0000 !important;
}

.MB0{
  margin-bottom: 0px !important;
}

.MB2{
  margin-bottom: 2px !important;
}

#supplier_internal_id_index, #supplier_internal_id_edit{
  margin-right: 40%;
}

.effective_date_index, .effective_date_edit{
  margin-right: 30%;
}

.paymentRow select, .paymentRow input{
  margin-right: 20px;
  margin-left: 6px;
}

.editMr1, .editMr2,.editMr3,.editMr4{
  margin-left: 16px !important;
}

#paymentMethodTxtIndex, #paymentMethodTxtEdit{
  margin-left: 6px;
}

.poFixedLabel{
  width: 145px !important;
}

html .attrCreateCancel{
  border-color: #8aafce !important;
  color: #6688a6 !important;
}

#new_product_brand{
  .help-block{
    color: #FF0000;
  }
}

.fa-lg-without-align{
  vertical-align: unset !important;
}
#blogForm{
  .help-block{
    color: #FF0000;
  }
}

.gray{
  color: gray;
}

#feedbacks-note-detail #details{
  width: 100%;
}

#feedbacks-note-detail .modal-content{
  width: 760px;
}

.feedback-photos{
  margin-left: 4px;
  img{
    width: 60px;
    height: 60px;
  }
}

.feedback-new-font{
  font-weight: bold;
  font-style: italic;
  color: #03B615;
}

.download-app{
  img{
    height: 24px;
  }
  a:hover{
    text-decoration: none;
  }
}

.download_app_login{
  padding-top: 10px;
  padding-bottom: 10px;
  a:hover{
    text-decoration: none;
  }
}

.photo-attachment-container{
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(242, 242, 242, 1);
  border-radius: 0px;
  .photo-box{
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 3px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 466px;
    overflow-y: auto;
    overflow-x: hidden;
    img{
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 4px;
    }
  }
}

.photo-box{
  a{
    margin-right: 15px;
  }
}

.photo-database-tag{
  background-color: rgba(170, 170, 170, 1);
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px 4px;
  font-size: 12px;
  color: white;
  display: inline-block;
  margin-top: 4px;
  margin-right: 4px;
}

.text-align-right{
  text-align: right;
}

.photo-database-form-group, .session-video-form-group{
  label{
    line-height: 33px;
  }
}

select[disabled="disabled"]{
  background: #f2f2f2;
}

.photo-database-photo{
  padding-top: 7px;
  margin-bottom: 15px;
}

#addPhotoModal, #editPhotoModal{
  #dropContainer, #editDropContainer, #dropContainerPhotoDatabase{
    margin-left: 27%;
  }
  #dropText, #editDropText{
    height: 100%;
    font-size: 16px;
  }
}

.photo-database-new-tag, .session-video-new-tag{
  padding-top: 4px;
  padding-bottom: 4px;
}

.photo_tag, .video_tag{
  cursor: pointer;
  margin-right: 10px;
}

.add_new_photo_tag:focus {
  outline: none;
}

.photo-database-new-tag, .photo-database-edit-tag{
  line-height: 30px;
}

#photoDatabaseSel{
  text-align: center;
  display: inline-block;
  border: 1px solid #d5d5d5;
  height: 33px;
  padding: 5px 4px 6px;
  border-left: 0;
  border-radius: 0px 4px 4px 0px;
  width: 33px;
}

#searchPhotoModal .modal-body{
  height: 500px;
  overflow-y: scroll;
}

#photoSearchClear{
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 35%;
  display: none;
}

#photoDatabaseTable img{
  width: 160px;
  height: 100px;
}

#searchPhotoModal .modal-dialog{
  width: 790px;
}

#searchPhotoModal table{
  margin-left: 15px;
}

.photoDatabaseBlock{
  padding: 10px;
  border: 1px solid transparent;
  margin-right: 4px;
  margin-bottom: 4px;
}

.photoDatabaseBlock.active{
  border: 1px solid #05ce05;
}

.photoDatabaseBlock{
  &:hover{
    border: 1px solid #05ce05;
  }
}

.brand-image{
  margin-bottom: 15px;
}

.new_photo_tag, .edit_photo_tag{
  display: inline-block !important;
  line-height: 15px;
}

.photo-edit-img-display{
  max-width: 90%;
}

.photo-img-box{
  height: 200px;
  width: 100%;
}

html .photo-database-img-hint{
  p{
    color: #737373 !important;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.MB8{
  margin-bottom: 8px;
}

.MT8{
  margin-top: 8px;
}

.MR8{
  margin-right: 8px;
}

.ML8{
  margin-left: 8px;
}

.session-video-tag{
  width: 70%;
  padding-top: 6px;
  span{
    display: inline-block;
    line-height: 3ex;
    margin-bottom: 4px;
  }
}

.height-200{
  height: 200px;
}

.poster-image{
  margin-bottom: 6px;
}

#session-video-form input[type='text'], #session-video-form select{
  display: block;
}

#new_video_tag{
  display: inline-block !important;
}

#video-speaker-add{
  display: inline-block;
  cursor: pointer;
}
#video-speaker-minus{
  display: none;
  cursor: pointer;
}

#speaker-create-form{
  margin-top: 4px;
  display: none;
}

#speakerLogo{
  margin-bottom: 6px;
}

.speaker_logo_box{
  img{
    margin-bottom: 6px;
  }
}

#session-video-form label.error, #session-speaker-form label.error{
  display: block;
}

.speaker_photo_box{
  margin-bottom: 6px;
}

.video-speaker-list, .video-speaker-list-active{
  margin-top: 6px;
  margin-left: 14.6%;
  img{
    height: 70px;
  }
}

.speaker_logo_box_of_edit, .speaker_photo_box_of_edit{
  margin-bottom: 6px;
  img{
    height: 100px;
  }
}

.speaker-table{
  img{
    height: 100px;
  }
}

.speaker_td{
  label{
    width: 40%;
    margin: auto;
    height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    border-color: lightgray;
    background: lightgray;
    color: white;
    font-weight: normal;
  }
}
.speaker_td.selected_active{
  div{
    display: block;
  }
}
.speaker_td.unselected{
  div{
    display: none;
  }
}

#Session-Ad-form{
  label.error{
    display: block;
  }
}

.PT6{
  padding-top: 6px;
}

.copy-button{
  margin-top: 0px;
  cursor: pointer;
  display: inline-block;
}

.analysis-report-title{
  font-size: 16px;
  font-weight: bold;
}
.without-border{
  border: none;
}

#monthly_mode, #daily_mode{
  position: relative;
}

.mode-option{
  border: none;
}

.daterange_icon_daily{
  position: absolute;
  right: 20px;
  top: 8px;
}

.daterange_icon_from{
  position: absolute;
  right: 20px;
  top: 8px;
}

.daterange_icon_to{
  position: absolute;
  left: 90px;
  top: 8px;
}

#daily_mode, #monthly_mode{
  position: relative;
}

.market-entity-box{
  display: inline;
}

.display-inline-block{
  display: inline-block;
}

.display-flex{
  display: flex;
}

.align-item-center{
  align-items: center;
}

.date-option{
  border: none;
}

.vertical-align-middle{
  vertical-align: middle;
}

.contact-info-width{
  width: 84%;
}

.pr-2{
  padding-right: 2px;
  padding-left: 2px;
}

.MB0{
  margin-bottom: 0px !important;
}

.market-report-ratio1{
  padding-right: 5%;
}
